<!DOCTYPE html>
<html lang="ja">
<%- include('layouts/head') -%>

<body>
    <%- include('layouts/header') -%>
    <div class="index-Body">
        <% components.forEach( c =>{%>
            <object>
                <%- include('layouts/card', c)%>
            </object>
        <%})%>
        <% [...Array(components.length)].forEach(() => {%>
            <%- include('layouts/empty_card')%>
        <%})%>
    </div>
    <%- include('layouts/footer') -%>
</body>

</html>